# To enable: change trigger from workflow_dispatch to push (see paths-ignore below)
name: Publish AWS
run-name: Publishing Docker Image to AWS ECR

on:
  workflow_dispatch:
  # push:
  #   paths-ignore:
  #     - 'terraform/**'
  #     - '.github/**'
  #     - '!.github/workflows/publish-aws.yml'
  #     - '.gitignore'
  #     - 'README.md'
  #     - '.vscode/**'
  #     - '*_test.go'

env:
  ECR_REPOSITORY: myservice

jobs:

  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: 'write'

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-tags: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_DEPLOY_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Log in to Amazon ECR
        id: ecr-login
        uses: aws-actions/amazon-ecr-login@v2

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.ecr-login.outputs.registry }}/${{ env.ECR_REPOSITORY }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref_name == github.event.repository.default_branch }}
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: "[DEV] Build and push Docker image"
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            portal_backend_scheme=https
            portal_backend_host=TODO_YOUR_DOMAIN
            portal_backend_port=443
            portal_backend_path=/myservice/internal
          tags: |
            ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
