name: Test Portal

on: 
  push:
    paths:
      - .github/workflows/test-portal.yml
      - 'portal/**'

env:
  coverage_percentage: 0%
  test_badge_color: yellow
  test_badge_message: none executed
  GIST_TOKEN: ${{ secrets.GIST_TOKEN }}

jobs:
  test:
    runs-on: ubuntu-latest

    if: ${{ !startsWith( github.ref, 'refs/tags/' ) }}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Flutter SDK
        uses: flutter-actions/setup-flutter@v3
        with:
          channel: stable
          version: latest
          cache: true
          cache-sdk: true
          cache-key: ${{ hashFiles('portal/pubspec.lock') }}
      
      - name: Install dependencies
        working-directory: portal
        run: flutter pub get
      
      - name: Lint
        working-directory: portal
        run: dart analyze

      - name: Run tests
        working-directory: portal
        run: mkdir -p build && flutter test --coverage --machine > build/test_reports.json

      - name: Test Report
        id: compute_test_results
        uses: dorny/test-reporter@v1
        if: success() || failure()    # run this step even if previous step failed
        with:
          name: Portal Test Report
          path: portal/build/test_reports.json
          reporter: flutter-json
          max-annotations: '50'
          fail-on-error: 'false'
          fail-on-empty: 'true'

      - name: All tests pass?
        if: steps.compute_test_results.outputs.failed == 0
        run: |
          echo "test_badge_color=brightgreen" >> $GITHUB_ENV
          echo "test_badge_message=${{steps.compute_test_results.outputs.passed}} passed" >> $GITHUB_ENV
  
      - name: Some tests failed?
        if: steps.compute_test_results.outputs.failed > 0
        run: | 
          echo "test_badge_color=red" >> $GITHUB_ENV
          echo "test_badge_message=${{steps.compute_test_results.outputs.failed}} failed ${{steps.compute_test_results.outputs.passed}} passed" >> $GITHUB_ENV

      - name: Create tests badge
        if: github.event_name == 'push' && github.event.ref == 'refs/heads/main' && env.GIST_TOKEN != ''
        uses: schneegans/dynamic-badges-action@v1.6.0
        with:
          auth: ${{ env.GIST_TOKEN }}
          gistID: 9db84bf86640df151185b96b762b6c1e
          filename: "myservice-portal-tests.json"
          label: 'Portal Tests'
          message: '${{ env.test_badge_message }}'
          namedLogo: "flutter"
          color: ${{ env.test_badge_color }}
          forceUpdate: true

      - name: Set up lcov
        run: sudo apt-get install -y lcov
      - name: Calculate Test Coverage
        working-directory: portal
        run: |
          percentage=$(genhtml coverage/lcov.info --output=coverage | gawk '/  lines......:/ {split($2, percent, "("); print  percent[1];}')
          echo "Coverage percentage: $percentage"
          echo "coverage_percentage=$percentage" >> $GITHUB_ENV

      - name: Create test coverage badge
        if: github.event_name == 'push' && github.event.ref == 'refs/heads/main' && env.GIST_TOKEN != ''
        uses: schneegans/dynamic-badges-action@v1.6.0
        with:
          auth: ${{ env.GIST_TOKEN }}
          gistID: 9db84bf86640df151185b96b762b6c1e
          filename: "myservice-portal-coverage.json"
          label: 'Portal Coverage'
          message: '${{ env.coverage_percentage }}'
          namedLogo: "flutter"
          valColorRange: ${{ env.coverage_percentage }}
          minColorRange: 70
          maxColorRange: 90
          forceUpdate: true